<div class="header">
  <a href=""><img src="assets/logo.svg" /></a>
  <div class="menu">
    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
      Chat
    </NavLink>
    <NavLink class="nav-link" href="/play" Match="NavLinkMatch.All">
      Play
    </NavLink>
    <NavLink class="nav-link" href="/build" Match="NavLinkMatch.All">
      Build
    </NavLink>
    <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
      Admin
    </NavLink>
    <LoginDisplay/>
  </div>
</div>
