@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile">
          <Icon MaterialIcon="account_circle"/>&thinsp;
          @context.User.Identity.Name
        </a>
        <a @onclick="BeginSignOut">
          <Icon MaterialIcon="logout"/>&thinsp;
          Logout
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">
          <Icon MaterialIcon="app_registration"/>&thinsp;
          Register
        </a>
        <a href="authentication/login">
          <Icon MaterialIcon="login"/>&thinsp;
          Login
        </a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
