@page "/test/icon-test"

<h1>Icon Test</h1>

<h3>Inline Test</h3>

<p>Displays inline icons with extra text to indicate whether or not the icons are interrupting the line-height.</p>
<p>Inline icons should not have a size provided; they will auto-size based on the text they are used within.</p>

<h4>Normal Size</h4>

XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
XXX
<Icon MaterialIcon="face"/>XX
<Icon GameIcon="abstract-013"/>XXX<br/>
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
<br/>

<h4>1.4rem</h4>

<span style="font-size: 1.4rem;">
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
XXX
<Icon MaterialIcon="face"/>XX
<Icon GameIcon="abstract-013"/>XXX<br/>
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
</span>
<br/>

<h4>2.4rem</h4>

<span style="font-size: 2.4rem;">
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
XXX
<Icon MaterialIcon="face"/>XX
<Icon GameIcon="abstract-013"/>XXX<br/>
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
</span>
<br/>

<h4>3.2rem</h4>
<span style="font-size: 3.2rem;">
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
XXX
<Icon MaterialIcon="face"/>XX
<Icon GameIcon="abstract-013"/>XXX<br/>
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
</span>
<br/>

<h4>Color Test</h4>
<span style="color: red;">
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
XXX
<Icon MaterialIcon="face"/>XX
<Icon GameIcon="abstract-013"/>XXX<br/>
XXXXXXXXXXXXX<br/>
XXXXXXXXXXXXX<br/>
</span>
<br/>

<h3>Block Test</h3>

<h4>Material Icons</h4>

<div style="display: flex; align-items: center; gap: 4px;">
<Icon MaterialIcon="face" SizeInRem="6.4"/>
<Icon MaterialIcon="face" SizeInRem="5.2"/>
<Icon MaterialIcon="face" SizeInRem="4.8"/>
<Icon MaterialIcon="face" SizeInRem="3.2"/>
<Icon MaterialIcon="face" SizeInRem="2.4"/>
<Icon MaterialIcon="face" SizeInRem="1.6"/>
</div>
<br/>
<div style="display: flex; align-items: center; gap: 4px; flex-direction: column; width: 20rem;">
<Icon MaterialIcon="face" SizeInRem="6.4"/>
<Icon MaterialIcon="face" SizeInRem="5.2"/>
<Icon MaterialIcon="face" SizeInRem="4.8"/>
<Icon MaterialIcon="face" SizeInRem="3.2"/>
<Icon MaterialIcon="face" SizeInRem="2.4"/>
<Icon MaterialIcon="face" SizeInRem="1.6"/>
</div>
<br/>

<h4>Game Icons</h4>

<div style="display: flex; align-items: center; gap: 4px;">
<Icon GameIcon="abstract-013" SizeInRem="6.4"/>
<Icon GameIcon="abstract-013" SizeInRem="5.2"/>
<Icon GameIcon="abstract-013" SizeInRem="4.8"/>
<Icon GameIcon="abstract-013" SizeInRem="3.2"/>
<Icon GameIcon="abstract-013" SizeInRem="2.4"/>
<Icon GameIcon="abstract-013" SizeInRem="1.6"/>
</div>
<br/>
<div style="display: flex; align-items: center; gap: 4px; flex-direction: column; width: 20rem;">
<Icon GameIcon="abstract-013" SizeInRem="6.4"/>
<Icon GameIcon="abstract-013" SizeInRem="5.2"/>
<Icon GameIcon="abstract-013" SizeInRem="4.8"/>
<Icon GameIcon="abstract-013" SizeInRem="3.2"/>
<Icon GameIcon="abstract-013" SizeInRem="2.4"/>
<Icon GameIcon="abstract-013" SizeInRem="1.6"/>
</div>
<br/>
