@page "/test/testbed"

<h1>Testbed</h1>

@if (output == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in output)
            {
                <tr>
                    <td>@entry.Name</td>
                    <td>@entry.Title</td>
                    <td>@entry.Description</td>
                </tr>
            }
        </tbody>
    </table>
}
