@page "/chat"

<AuthorizeView Roles="Player,Builder,Admin,Owner">
  <Authorized>
    <label for="chat-input">
      Message:
    </label>
    <input id="chat-input" @bind="messageInput" size="50" />
    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>

    <hr>

    <ul id="messagesList">
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
  </Authorized>
</AuthorizeView>
