@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Microsoft.AspNetCore.Identity
@using BlazorMUD.Server.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlazorMUD</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
  <header class="site-header">
    <a class="site-logo" href="~/"><img src="~/assets/logo.svg" /></a>
  </header>
  <div class="auth-page">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
  <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
