@inherits LayoutComponentBase
@layout MainLayout

<AuthorizeView Roles="Admin,Owner">
  <Authorized>
    <h1>Admin</h1>

    @Body
  </Authorized>
  <NotAuthorized>
    Unauthorized...
  </NotAuthorized>
</AuthorizeView>
