@import "utilities/typography";
@import "layout/sidebar";

.page {
  position: relative;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  height: calc(100vh - 48px);
}

nav.page-menu {
  height: 100%;
  max-height: calc(100vh - 48px);
  width: 200px;
  overflow-y: auto;

  background-color: hsl(0, 0%, 5%);
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;

  & ::deep a {
    @include left-sidebar-link;
  }
}

article.page-content {
  max-height: calc(100vh - 48px);
  width: 100%;
  padding: 16px 32px;
  overflow: auto;
}
