// Custom resets

*,
*::before,
*::after {
  @include box-sizing(border-box);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Base styles

html {
  font-size: 62.5%; // Makes 1rem = 10px at normal scale
}

body {
  background-color: $color-body-background;
  color: $color-body-foreground;
  font-size: 1.6rem;
}

a {
  color: hsl(209, 100%, 50%);
  text-decoration: none;

  &:hover {
    color: hsl(209, 100%, 60%);
  }
}
