input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  min-height: 3rem;
  min-width: 30rem;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
  box-shadow: none;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 10%);
  border: 0.1rem solid hsl(0, 0%, 30%);
  color: hsl(0, 0%, 90%);
}

input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="url"]::placeholder,
select::placeholder,
textarea::placeholder {
  color: hsl(0, 0%, 40%);
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

::-webkit-resizer {
  display: none;
  background-color: hsl(0, 0%, 10%);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  border-color: hsl(0, 0%, 40%);
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

legend {
  color: hsl(0, 0%, 60%);
}

fieldset {
  padding: 1rem;
  border: 0.1rem solid hsl(0, 0%, 10%);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
